## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
df = pd.read_csv("Resources/charity_data.csv")
df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(columns = ['EIN'])
df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
countsbinning = df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df,dtype=float)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
X = df.drop('IS_SUCCESSFUL', axis=1).values
y = df['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Get the input feature/ shape
X_train_scaled.shape

(25724, 19617)

In [13]:
input_features = X_train_scaled.shape[1]

In [14]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 90,
        step=5), activation=activation, input_dim=input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [17]:
!pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
Requirement already satisfied: numpy in c:\users\danie\anaconda3\lib\site-packages (from keras-tuner) (1.20.3)
Requirement already satisfied: tensorboard in c:\users\danie\anaconda3\lib\site-packages (from keras-tuner) (2.9.1)
Requirement already satisfied: requests in c:\users\danie\appdata\roaming\python\python39\site-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging in c:\users\danie\anaconda3\lib\site-packages (from keras-tuner) (20.9)
Requirement already satisfied: ipython in c:\users\danie\anaconda3\lib\site-packages (from keras-tuner) (7.29.0)
Requirement already satisfied: matplotlib-inline in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.1.2)
Requirement already satisfied: pickleshare in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (58.0.4)
Requirement already satisfied: jedi>=0.16 in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.18.0)
Requirement already satisfied: pygments in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (2.10.0)
Requirement already satisfied: colorama in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.4.4)
Requirement already satisfied: backcall in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: decorator in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (5.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\danie\anaconda3\lib\site-packages (from ipython->keras-tuner) (3.0.30)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\danie\anaconda3\lib\site-packages (from jedi>=0.16->ipython->keras-tuner) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\danie\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\danie\anaconda3\lib\site-packages (from packaging->keras-tuner) (3.0.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\danie\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\danie\anaconda3\lib\site-packages (from requests->keras-tuner) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\danie\anaconda3\lib\site-packages (from requests->keras-tuner) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\danie\anaconda3\lib\site-packages (from requests->keras-tuner) (2021.10.8)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (2.0.2)
Requirement already satisfied: grpcio>=1.24.3 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (1.47.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: wheel>=0.26 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (0.37.0)
Requirement already satisfied: absl-py>=0.4 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (1.2.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (2.10.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (3.19.4)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\danie\anaconda3\lib\site-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: six>=1.9.0 in c:\users\danie\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (1.16.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\danie\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\danie\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\danie\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\danie\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\danie\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\danie\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\danie\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\danie\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.0)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.1.3 kt-legacy-1.0.4

In [18]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [19]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 03m 56s]
val_accuracy: 0.7963848114013672

Best val_accuracy So Far: 0.7994168996810913
Total elapsed time: 01h 51m 45s
INFO:tensorflow:Oracle triggered exit

In [20]:
# Top 3 model hyperparameters 
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
  print(param.values)

{'activation': 'sigmoid', 'first_units': 46, 'num_layers': 2, 'units_0': 21, 'units_1': 26, 'units_2': 6, 'units_3': 26, 'units_4': 11, 'tuner/epochs': 6, 'tuner/initial_epoch': 2, 'tuner/bracket': 3, 'tuner/round': 1, 'tuner/trial_id': '0091'}
{'activation': 'sigmoid', 'first_units': 46, 'num_layers': 2, 'units_0': 21, 'units_1': 26, 'units_2': 6, 'units_3': 26, 'units_4': 11, 'tuner/epochs': 2, 'tuner/initial_epoch': 0, 'tuner/bracket': 3, 'tuner/round': 0}
{'activation': 'sigmoid', 'first_units': 66, 'num_layers': 3, 'units_0': 16, 'units_1': 11, 'units_2': 21, 'units_3': 16, 'units_4': 6, 'tuner/epochs': 6, 'tuner/initial_epoch': 2, 'tuner/bracket': 3, 'tuner/round': 1, 'tuner/trial_id': '0123'}

In [21]:
# Top 3 models
top_model = tuner.get_best_models(3)
for model in top_model:
  model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
  print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

268/268 - 1s - loss: 0.4676 - accuracy: 0.7994 - 520ms/epoch - 2ms/step
Loss: 0.4676424562931061, Accuracy: 0.7994168996810913
268/268 - 1s - loss: 0.5083 - accuracy: 0.7985 - 538ms/epoch - 2ms/step
Loss: 0.5082736015319824, Accuracy: 0.7984839677810669
268/268 - 1s - loss: 0.4471 - accuracy: 0.7985 - 673ms/epoch - 3ms/step
Loss: 0.4470788240432739, Accuracy: 0.7984839677810669

In [22]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters()[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 46,
 'num_layers': 2,
 'units_0': 21,
 'units_1': 26,
 'units_2': 6,
 'units_3': 26,
 'units_4': 11,
 'tuner/epochs': 6,
 'tuner/initial_epoch': 2,
 'tuner/bracket': 3,
 'tuner/round': 1,
 'tuner/trial_id': '0091'}

In [23]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4676 - accuracy: 0.7994 - 544ms/epoch - 2ms/step
Loss: 0.4676424562931061, Accuracy: 0.7994168996810913

In [32]:
# Export our model to HDF5 file
best_model.save('AlphabetSoupCharity_Optimization.h5')