## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
df = pd.read_csv("Resources/charity_data.csv")
df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(columns = ['EIN'])
df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
countsbinning = df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df,dtype=float)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = df['IS_SUCCESSFUL'].values
y

# drop 'IS SUCCESSFUL'
X = df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=51
hidden_nodes_layer2=81
hidden_nodes_layer3=71
hidden_nodes_layer4=6
hidden_nodes_layer5=41
hidden_nodes_layer6=91

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer6, activation='relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 51)                1000518

 dense_4 (Dense)             (None, 81)                4212

 dense_5 (Dense)             (None, 71)                5822

 dense_6 (Dense)             (None, 6)                 432

 dense_7 (Dense)             (None, 41)                287

 dense_8 (Dense)             (None, 91)                3822

 dense_9 (Dense)             (None, 1)                 92

=================================================================
Total params: 1,015,185
Trainable params: 1,015,185
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=50)

Epoch 1/50
684/684 [==============================] - 4s 5ms/step - loss: 0.4844 - accuracy: 0.7684 - val_loss: 0.4358 - val_accuracy: 0.8005
Epoch 2/50
684/684 [==============================] - 3s 5ms/step - loss: 0.1289 - accuracy: 0.9510 - val_loss: 0.7486 - val_accuracy: 0.7935
Epoch 3/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0932 - accuracy: 0.9625 - val_loss: 0.7066 - val_accuracy: 0.8002
Epoch 4/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0890 - accuracy: 0.9624 - val_loss: 0.6741 - val_accuracy: 0.8020
Epoch 5/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0877 - accuracy: 0.9628 - val_loss: 0.9057 - val_accuracy: 0.8018
Epoch 6/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0873 - accuracy: 0.9631 - val_loss: 0.7023 - val_accuracy: 0.7992
Epoch 7/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0868 - accuracy: 0.9637 - val_loss: 0.6815 - val_accuracy: 0.7559
Epoch 8/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0862 - accuracy: 0.9637 - val_loss: 0.7736 - val_accuracy: 0.7549
Epoch 9/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0860 - accuracy: 0.9635 - val_loss: 0.7974 - val_accuracy: 0.7056
Epoch 10/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0855 - accuracy: 0.9638 - val_loss: 0.8246 - val_accuracy: 0.6999
Epoch 11/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0856 - accuracy: 0.9643 - val_loss: 0.8079 - val_accuracy: 0.7898
Epoch 12/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0847 - accuracy: 0.9639 - val_loss: 1.0573 - val_accuracy: 0.7054
Epoch 13/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0842 - accuracy: 0.9641 - val_loss: 1.8978 - val_accuracy: 0.6393
Epoch 14/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0842 - accuracy: 0.9646 - val_loss: 0.9228 - val_accuracy: 0.7860
Epoch 15/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0837 - accuracy: 0.9644 - val_loss: 0.9870 - val_accuracy: 0.7891
Epoch 16/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0827 - accuracy: 0.9656 - val_loss: 1.0438 - val_accuracy: 0.7839
Epoch 17/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0831 - accuracy: 0.9650 - val_loss: 1.1505 - val_accuracy: 0.7619
Epoch 18/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0830 - accuracy: 0.9644 - val_loss: 1.1079 - val_accuracy: 0.7836
Epoch 19/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0822 - accuracy: 0.9651 - val_loss: 1.4652 - val_accuracy: 0.7953
Epoch 20/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0820 - accuracy: 0.9651 - val_loss: 1.5235 - val_accuracy: 0.7308
Epoch 21/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0816 - accuracy: 0.9654 - val_loss: 1.3934 - val_accuracy: 0.7069
Epoch 22/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0811 - accuracy: 0.9664 - val_loss: 1.1213 - val_accuracy: 0.7440
Epoch 23/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0810 - accuracy: 0.9654 - val_loss: 1.1091 - val_accuracy: 0.7468
Epoch 24/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0804 - accuracy: 0.9660 - val_loss: 1.7418 - val_accuracy: 0.7111
Epoch 25/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0799 - accuracy: 0.9666 - val_loss: 2.0246 - val_accuracy: 0.6971
Epoch 26/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0799 - accuracy: 0.9665 - val_loss: 1.6389 - val_accuracy: 0.7476
Epoch 27/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0796 - accuracy: 0.9667 - val_loss: 1.5065 - val_accuracy: 0.7746
Epoch 28/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0792 - accuracy: 0.9666 - val_loss: 1.8287 - val_accuracy: 0.7740
Epoch 29/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0792 - accuracy: 0.9664 - val_loss: 1.9337 - val_accuracy: 0.6991
Epoch 30/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0792 - accuracy: 0.9668 - val_loss: 1.4297 - val_accuracy: 0.7460
Epoch 31/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0784 - accuracy: 0.9668 - val_loss: 2.0087 - val_accuracy: 0.7336
Epoch 32/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0790 - accuracy: 0.9674 - val_loss: 1.6963 - val_accuracy: 0.7826
Epoch 33/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0775 - accuracy: 0.9675 - val_loss: 1.6619 - val_accuracy: 0.7613
Epoch 34/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0778 - accuracy: 0.9674 - val_loss: 2.1230 - val_accuracy: 0.7841
Epoch 35/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0770 - accuracy: 0.9680 - val_loss: 2.7691 - val_accuracy: 0.7225
Epoch 36/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0773 - accuracy: 0.9678 - val_loss: 2.4467 - val_accuracy: 0.7839
Epoch 37/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0761 - accuracy: 0.9679 - val_loss: 3.0400 - val_accuracy: 0.7919
Epoch 38/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0774 - accuracy: 0.9677 - val_loss: 3.1071 - val_accuracy: 0.7958
Epoch 39/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0768 - accuracy: 0.9676 - val_loss: 2.8846 - val_accuracy: 0.7961
Epoch 40/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0764 - accuracy: 0.9679 - val_loss: 1.4329 - val_accuracy: 0.7704
Epoch 41/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0763 - accuracy: 0.9679 - val_loss: 2.5134 - val_accuracy: 0.7880
Epoch 42/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0759 - accuracy: 0.9677 - val_loss: 3.4118 - val_accuracy: 0.7932
Epoch 43/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0766 - accuracy: 0.9676 - val_loss: 4.2290 - val_accuracy: 0.7992
Epoch 44/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0768 - accuracy: 0.9676 - val_loss: 3.4718 - val_accuracy: 0.7989
Epoch 45/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0762 - accuracy: 0.9678 - val_loss: 2.5048 - val_accuracy: 0.8025
Epoch 46/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0755 - accuracy: 0.9678 - val_loss: 2.9187 - val_accuracy: 0.7966
Epoch 47/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0754 - accuracy: 0.9678 - val_loss: 3.4742 - val_accuracy: 0.8015
Epoch 48/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0761 - accuracy: 0.9678 - val_loss: 3.0468 - val_accuracy: 0.7945
Epoch 49/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0757 - accuracy: 0.9683 - val_loss: 2.8389 - val_accuracy: 0.7976
Epoch 50/50
684/684 [==============================] - 3s 5ms/step - loss: 0.0754 - accuracy: 0.9682 - val_loss: 3.1566 - val_accuracy: 0.7595

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6272 - accuracy: 0.7478 - 496ms/epoch - 2ms/step
Loss: 0.6272048950195312, Accuracy: 0.7477551102638245

In [21]:
# Export our model to HDF5 file
nn.save('Model_optimzae.h5')