## Preprocessing

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
df = pd.read_csv("Resources/charity_data.csv")
df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [13]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(columns = ['EIN', 'NAME'])
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [15]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts for binning
counts = df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
countsbinning = df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df,dtype=float)
df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Split our preprocessed data into our features and target arrays
y = df['IS_SUCCESSFUL'].values
y

# drop 'IS SUCCESSFUL'
X = df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 7)                 137802

 dense_7 (Dense)             (None, 14)                112

 dense_8 (Dense)             (None, 1)                 15

=================================================================
Total params: 137,929
Trainable params: 137,929
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.6955 - val_loss: 0.4737 - val_accuracy: 0.7904
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.2518 - accuracy: 0.9039 - val_loss: 0.5779 - val_accuracy: 0.7966
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.1347 - accuracy: 0.9523 - val_loss: 0.5663 - val_accuracy: 0.7196
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.1130 - accuracy: 0.9576 - val_loss: 0.5153 - val_accuracy: 0.7948
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.1090 - accuracy: 0.9576 - val_loss: 0.5218 - val_accuracy: 0.7629
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.1061 - accuracy: 0.9594 - val_loss: 0.6731 - val_accuracy: 0.6888
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.1042 - accuracy: 0.9594 - val_loss: 0.6557 - val_accuracy: 0.7082
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.1018 - accuracy: 0.9599 - val_loss: 0.5334 - val_accuracy: 0.7696
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.1021 - accuracy: 0.9602 - val_loss: 0.5605 - val_accuracy: 0.7512
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.1002 - accuracy: 0.9613 - val_loss: 0.5811 - val_accuracy: 0.7567
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0988 - accuracy: 0.9608 - val_loss: 0.7223 - val_accuracy: 0.6921
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0984 - accuracy: 0.9611 - val_loss: 0.6944 - val_accuracy: 0.7118
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0973 - accuracy: 0.9614 - val_loss: 0.7692 - val_accuracy: 0.6885
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0970 - accuracy: 0.9607 - val_loss: 0.5728 - val_accuracy: 0.7891
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0981 - accuracy: 0.9615 - val_loss: 1.0047 - val_accuracy: 0.7997
Epoch 16/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0989 - accuracy: 0.9606 - val_loss: 1.1190 - val_accuracy: 0.8002
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0971 - accuracy: 0.9610 - val_loss: 1.5960 - val_accuracy: 0.8002
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0947 - accuracy: 0.9622 - val_loss: 1.6020 - val_accuracy: 0.8002
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0925 - accuracy: 0.9625 - val_loss: 1.4693 - val_accuracy: 0.7997
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0917 - accuracy: 0.9628 - val_loss: 1.6196 - val_accuracy: 0.8020
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0907 - accuracy: 0.9630 - val_loss: 1.5447 - val_accuracy: 0.8007
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0901 - accuracy: 0.9634 - val_loss: 1.3793 - val_accuracy: 0.7999
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0893 - accuracy: 0.9642 - val_loss: 1.2887 - val_accuracy: 0.8012
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0887 - accuracy: 0.9632 - val_loss: 1.2654 - val_accuracy: 0.7994
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0875 - accuracy: 0.9646 - val_loss: 1.3668 - val_accuracy: 0.8015
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0872 - accuracy: 0.9644 - val_loss: 1.3241 - val_accuracy: 0.7997
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0865 - accuracy: 0.9646 - val_loss: 1.4677 - val_accuracy: 0.7992
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.0863 - accuracy: 0.9644 - val_loss: 1.2625 - val_accuracy: 0.7997
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0856 - accuracy: 0.9652 - val_loss: 1.2814 - val_accuracy: 0.8005
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0855 - accuracy: 0.9647 - val_loss: 1.3296 - val_accuracy: 0.7999
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0850 - accuracy: 0.9653 - val_loss: 1.3945 - val_accuracy: 0.7997
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0849 - accuracy: 0.9654 - val_loss: 1.3253 - val_accuracy: 0.8010
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0848 - accuracy: 0.9653 - val_loss: 1.1760 - val_accuracy: 0.7994
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0840 - accuracy: 0.9655 - val_loss: 1.1783 - val_accuracy: 0.7968
Epoch 35/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0842 - accuracy: 0.9653 - val_loss: 1.2017 - val_accuracy: 0.8005
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0840 - accuracy: 0.9657 - val_loss: 1.1145 - val_accuracy: 0.7984
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0843 - accuracy: 0.9651 - val_loss: 1.1765 - val_accuracy: 0.7981
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0840 - accuracy: 0.9662 - val_loss: 1.2566 - val_accuracy: 0.8005
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0892 - accuracy: 0.9647 - val_loss: 1.4875 - val_accuracy: 0.8005
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0861 - accuracy: 0.9655 - val_loss: 1.4696 - val_accuracy: 0.8007
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0856 - accuracy: 0.9661 - val_loss: 1.5900 - val_accuracy: 0.8015
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0850 - accuracy: 0.9655 - val_loss: 1.6073 - val_accuracy: 0.7961
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0851 - accuracy: 0.9654 - val_loss: 1.6253 - val_accuracy: 0.8020
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0848 - accuracy: 0.9652 - val_loss: 1.6389 - val_accuracy: 0.7999
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0846 - accuracy: 0.9661 - val_loss: 1.8410 - val_accuracy: 0.8005
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0847 - accuracy: 0.9657 - val_loss: 1.8235 - val_accuracy: 0.8018
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0846 - accuracy: 0.9663 - val_loss: 2.0056 - val_accuracy: 0.7992
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0843 - accuracy: 0.9649 - val_loss: 1.8386 - val_accuracy: 0.8015
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0844 - accuracy: 0.9658 - val_loss: 1.9350 - val_accuracy: 0.8007
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0841 - accuracy: 0.9657 - val_loss: 1.9354 - val_accuracy: 0.8012
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0838 - accuracy: 0.9662 - val_loss: 2.0640 - val_accuracy: 0.8005
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0838 - accuracy: 0.9657 - val_loss: 2.0428 - val_accuracy: 0.8007
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0835 - accuracy: 0.9656 - val_loss: 2.1182 - val_accuracy: 0.8012
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0834 - accuracy: 0.9654 - val_loss: 2.1022 - val_accuracy: 0.8010
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0835 - accuracy: 0.9661 - val_loss: 2.1188 - val_accuracy: 0.7997
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0831 - accuracy: 0.9664 - val_loss: 2.2850 - val_accuracy: 0.7999
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0830 - accuracy: 0.9667 - val_loss: 2.4527 - val_accuracy: 0.8005

Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0834 - accuracy: 0.9658 - val_loss: 2.3326 - val_accuracy: 0.8010
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0829 - accuracy: 0.9663 - val_loss: 2.4699 - val_accuracy: 0.7999
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0827 - accuracy: 0.9666 - val_loss: 2.5938 - val_accuracy: 0.7997
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0824 - accuracy: 0.9658 - val_loss: 2.5620 - val_accuracy: 0.8002
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0825 - accuracy: 0.9661 - val_loss: 2.6497 - val_accuracy: 0.7981
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9667 - val_loss: 2.8496 - val_accuracy: 0.7976
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0822 - accuracy: 0.9663 - val_loss: 2.6043 - val_accuracy: 0.7994
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0824 - accuracy: 0.9666 - val_loss: 2.7529 - val_accuracy: 0.7981
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0828 - accuracy: 0.9661 - val_loss: 2.7034 - val_accuracy: 0.8007
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0823 - accuracy: 0.9665 - val_loss: 2.7408 - val_accuracy: 0.7997
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9662 - val_loss: 2.8177 - val_accuracy: 0.7994
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0819 - accuracy: 0.9667 - val_loss: 2.9136 - val_accuracy: 0.8010
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0818 - accuracy: 0.9666 - val_loss: 3.0234 - val_accuracy: 0.7987
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0816 - accuracy: 0.9670 - val_loss: 3.0205 - val_accuracy: 0.7987
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0815 - accuracy: 0.9668 - val_loss: 3.0440 - val_accuracy: 0.8010
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0809 - accuracy: 0.9668 - val_loss: 3.0998 - val_accuracy: 0.7999
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0812 - accuracy: 0.9665 - val_loss: 3.0886 - val_accuracy: 0.7968
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0811 - accuracy: 0.9670 - val_loss: 3.2638 - val_accuracy: 0.7994
Epoch 76/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0812 - accuracy: 0.9659 - val_loss: 3.2314 - val_accuracy: 0.7997
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0807 - accuracy: 0.9669 - val_loss: 3.2724 - val_accuracy: 0.7968
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0802 - accuracy: 0.9672 - val_loss: 3.4717 - val_accuracy: 0.7992
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0805 - accuracy: 0.9663 - val_loss: 3.5199 - val_accuracy: 0.7997
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0800 - accuracy: 0.9664 - val_loss: 3.5996 - val_accuracy: 0.7987
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0804 - accuracy: 0.9673 - val_loss: 3.6283 - val_accuracy: 0.7992
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0800 - accuracy: 0.9674 - val_loss: 3.7074 - val_accuracy: 0.7999
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0802 - accuracy: 0.9673 - val_loss: 3.7450 - val_accuracy: 0.8020
Epoch 84/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0799 - accuracy: 0.9671 - val_loss: 3.7313 - val_accuracy: 0.7971
Epoch 85/100
684/684 [==============================] - 2s 2ms/step - loss: 0.0797 - accuracy: 0.9677 - val_loss: 3.7570 - val_accuracy: 0.8007
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0799 - accuracy: 0.9678 - val_loss: 3.9830 - val_accuracy: 0.7994
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0798 - accuracy: 0.9666 - val_loss: 3.8640 - val_accuracy: 0.7997
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0794 - accuracy: 0.9678 - val_loss: 4.1007 - val_accuracy: 0.7974
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0800 - accuracy: 0.9666 - val_loss: 4.2214 - val_accuracy: 0.7994
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0793 - accuracy: 0.9675 - val_loss: 4.3425 - val_accuracy: 0.7997
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0795 - accuracy: 0.9674 - val_loss: 4.1165 - val_accuracy: 0.7984
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0794 - accuracy: 0.9666 - val_loss: 4.1918 - val_accuracy: 0.8018
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0794 - accuracy: 0.9671 - val_loss: 4.1739 - val_accuracy: 0.7989
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0790 - accuracy: 0.9673 - val_loss: 4.1635 - val_accuracy: 0.7992
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0786 - accuracy: 0.9672 - val_loss: 4.1699 - val_accuracy: 0.7989
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0789 - accuracy: 0.9674 - val_loss: 4.2983 - val_accuracy: 0.8005
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0788 - accuracy: 0.9671 - val_loss: 4.5154 - val_accuracy: 0.7953
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0786 - accuracy: 0.9679 - val_loss: 4.4839 - val_accuracy: 0.7994
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0786 - accuracy: 0.9673 - val_loss: 4.2617 - val_accuracy: 0.7981
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.0785 - accuracy: 0.9680 - val_loss: 3.9732 - val_accuracy: 0.8005

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6852 - accuracy: 0.6146 - 312ms/epoch - 1ms/step
Loss: 0.6851586699485779, Accuracy: 0.6145772337913513

In [34]:
# Export our model to HDF5 file
nn.save('Model_1.h5')